<div class="pdf-preview-box">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 pr-0">
                <app-pdfpreviewpage></app-pdfpreviewpage>
            </div>
            <div class="col-sm-4">
                <app-pdfformoptions [documentList]="documentList"></app-pdfformoptions>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <app-pdfnavigator [(documentList)]="documentList"></app-pdfnavigator>
            </div>
        </div>
    </div>
</div>