<div class="pdf-options">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Page Resize</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>Select Page Resize</option>
            <option>25%</option>
            <option>50%</option>
            <option>75%</option>
            <option>100%</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Header</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>Select Header</option>
            <option>Header 1</option>
            <option>Header 2</option>
            <option>Header 3</option>
            <option>Header 4</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Footer</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>Select Footer</option>
            <option>Footer 1</option>
            <option>Footer 2</option>
            <option>Footer 3</option>
            <option>Footer 4</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Stamp</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>Select Stamp</option>
            <option>Stamp 1</option>
            <option>Stamp 2</option>
            <option>Stamp 3</option>
            <option>Stamp 4</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Stamp Position</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>Select Stamp Position</option>
            <option>25%</option>
            <option>50%</option>
            <option>75%</option>
            <option>100%</option>
        </select>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary" disabled>Save as PDF</button>
        </div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary" disabled>Print</button>
          </div>
      </div>
</div>