<div class="pdf-options">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Page Resize</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>Select Page Resize</option>
            <option>25%</option>
            <option>50%</option>
            <option>75%</option>
            <option>100%</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Header</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option *ngFor="let obj of reportHeaders" [value]="obj">{{obj}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Footer</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option *ngFor="let obj of reportFooters" [value]="obj">{{obj}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Stamp</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option *ngFor="let obj of reportStamps" [value]="obj">{{obj}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Stamp Position</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>Select Stamp Position</option>
            <option>25%</option>
            <option>50%</option>
            <option>75%</option>
            <option>100%</option>
        </select>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
          <button type="button" (click)="mergePdf()" class="btn btn-primary"  [disabled]="!(documentList.length > 0)">Save as PDF</button>
        </div>
        <div class="col-sm-6">
            <button type="button" (click)="printFile()"  class="btn btn-primary" [disabled]="!(documentList.length > 0)">Print</button>
          </div>
      </div>
</div>