.pdf-navigator{
    border: 1px solid #e5f0f5;
    margin-top: 15px;
    height: 100px;
    .upload-file{
        height: 100%;
        
    }
    .pdf-navigator-box{
        padding: 10px;
        .file-navigation-box{
            height: 78px;
            display: flex;
            justify-content: start;
            align-items: center;
            margin-right: 10px;
            .pdf-box-container{
                display: flex;
                width: 100%;
                overflow-x: overlay;
                overflow-y: hidden;
            }
            .pdf-box{
                cursor: pointer;
                height: 78px;
                width: 78px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #e5f0f5;
                font-size: 12px;
                margin-right: 10px;
                word-break: break-word;
                &:last-child{
                    margin-right: 0px;
                }
            }
            .pdf-active{
                border: 1px solid #a6d3e8;  
            }
            .pdf-previous{
                .btn{
                    color: #607d8b;
                    height: 78px;
                    i{
                        font-size: 30px;
                    }
                    &:focus{
                        outline: none;
                        box-shadow: none;
                    }
                    &:hover{
                        color: #f05a2e;
                    }
                }
            }
            .pdf-next{
                .btn{
                    color: #607d8b;
                    height: 78px;
                    i{
                        font-size: 30px;
                    }
                    &:focus{
                        outline: none;
                        box-shadow: none;
                    }
                    &:hover{
                        color: #f05a2e;
                    }
                }
            }
        }
        .add_more_file{
            .btn{
                width: 50%;
                height: 78px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #e5f0f5;
                border-radius: 0px;
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
                &:hover{
                    background-color: #f4f9fb;
                }
                i{
                    font-size: 22px;
                    color: #607d8b;
                }
            }
        }
    }
    
}