
<div class="pdf-navigator">
    <div class="upload-file d-none">
        <label for="et_pb_contact_brand_file_request_0" class="et_pb_contact_form_label">DRAG & DROP FILES</label>
        <input type="file" id="et_pb_contact_brand_file_request_0" class="file-upload">
    </div>
    <div class="pdf-navigator-box">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-11 p-0">
                    <div class="file-navigation-box">
                        <div class="pdf-previous">
                            <button class="btn"><i class="fa fa-caret-left"></i></button>
                        </div>
                        <div class="pdf-box-container">
                            <div class="pdf-box pdf-active">
                                PDF/IMAGE
                            </div>
                            <div class="pdf-box">
                                PDF/IMAGE
                            </div>
                            <div class="pdf-box">
                                PDF/IMAGE
                            </div>
                            <div class="pdf-box">
                                PDF/IMAGE
                            </div>
                        </div>
                        <div class="pdf-next">
                            <button class="btn"><i class="fa fa-caret-right"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 p-0">
                    <div class="add_more_file">
                        <button class="btn"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>