
<div class="pdf-navigator">
    <div class="upload-file" *ngIf="!(!!documentList && documentList.length > 0)">
        <app-file-upload></app-file-upload>
    </div>
    <div class="pdf-navigator-box" *ngIf="!!documentList && documentList.length > 0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10 p-0">
                    <div class="file-navigation-box">
                        <div class="pdf-previous">
                            <button class="btn"><i class="fa fa-caret-left"></i></button>
                        </div>
                        <div class="pdf-box-container" *ngFor="let item of documentList">
                            <div class="pdf-box {{item.activeClass}}" (click)="displayFile(item)">
                                PDF/IMAGE {{item?.pdfFilePath}}
                            </div>
                            <!-- <div class="pdf-box">
                                PDF/IMAGE
                            </div>
                            <div class="pdf-box">
                                PDF/IMAGE
                            </div>
                            <div class="pdf-box">
                                PDF/IMAGE
                            </div> -->
                        </div>
                        <div class="pdf-next">
                            <button class="btn"><i class="fa fa-caret-right"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 p-0">
                    <div class="add_more_file">
                        <button class="btn"><i class="fa fa-plus"></i> <app-file-upload></app-file-upload></button>
                        <button class="btn" (click)="removeDocument()"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>