.pdf-preview{
    background-color: #f4f9fb;
    border: 1px solid #e5f0f5;
    .pdf-imgage{
        width: 100%;
        padding: 20px;
        height: calc(100vh - 58px - 100px - 50px);
    }
}
.pdf-preview-empty{
    height: calc(100vh - 58px - 100px - 50px);
    background-color: #f4f9fb;
    border: 1px solid #e5f0f5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #607D8B;
    text-align: center;
    flex-flow: column;
    position: relative;
    overflow: scroll;
    .empty-icon{
        font-size: 60px;
        color: #e1e8ef;
        margin-bottom: 10px;
    }
    #pdf-viewer{
        position: absolute;
        top: 0;
        left: 0;
        display: block;
    }
}
.page-header{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 9999;
    text-align: left;
}

.page-footer{
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 9999;
    text-align: left;
}

.page-footer-pageno{
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 9999;
    text-align: right;
    input{
        text-align: right;
    }
}

.page-stamp{
    position: absolute;
    z-index: 99999;
    bottom: 0px;
    right: 0px;
    text-align: right;
}

.page-25per{
    bottom:75%;
    right: 0px;
}

.page-50per{
    bottom:50%;
    right: 0px;
}

.page-75per{
    bottom:25%;
    right: 0px;
}

.page-100per{
    bottom:0;
    right: 0px;
}

.img-25per{
    height: 25%;
    width: 25%;
}

.img-50per{
    height: 50%;
    width: 50%;
}

.img-75per{
    height: 75%;
    width: 75%;
}

.img-100per{
    height: 100%;
    width: 100%;
}

.canvasImg{
    visibility: hidden;
}