<!-- <div class="pdf-preview d-none" >
    <img src="../../assets/images/pdfpreive.png" class="pdf-imgage">
</div> -->
<div class="pdf-preview-empty ">
    <i class="fa fa-file-pdf-o empty-icon" *ngIf="!pdfSrc"></i>
    <span *ngIf="!pdfSrc">PREVIEW NOT AVAILABLE</span>
    <div *ngIf="!!pdfSrc">
        <pdf-viewer [src]="pdfSrc" 
        [render-text]="true" [zoom]="zoomParameter">
       
    </pdf-viewer>
    </div>

    <div id="pdfHeader" *ngIf="!!pdfHeaderSrc" class="page-header">
        <img [src]="pdfHeaderSrc" /> 
    </div>
   

    <div id="pdfFooter" *ngIf="!!pdfFooterSrc" class="page-footer">
        <img [src]="pdfFooterSrc" /> 
    </div>

    <div id="pdfStamp" *ngIf="!!pdfStampSrc" class="page-stamp {{pdfStampClass}}">
        <img [src]="pdfStampSrc" /> 
    </div>
   
</div>